# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Virtual environment
eegvenv/

# Heavy data files
*.mat
*.xlsx
